<ng-container *ngIf="teamWithPlayers$ | async as teamWithPlayers">
  <h1 class="team">
    <img [src]="teamWithPlayers.thumbnail" />
    {{ teamWithPlayers.name }}
  </h1>

  <ng-container *ngIf="teamWithPlayers.players.length; else noData">
    <app-player
      class="player"
      *ngFor="let player of teamWithPlayers.players"
      [player]="player"
    ></app-player>
  </ng-container>

  <ng-template #noData>
    <app-no-data>Oops! No players in this team.</app-no-data>
  </ng-template>
</ng-container>
