:host {
  display: inline-block;
  position: relative;
  width: 30rem;
  max-width: 100%;
}

.search {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0 1rem;
  outline: none;
}

.suggestions {
  position: absolute;
  left: 0;
  top: calc(3rem + 1px);
  width: 100%;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  text-align: left;
}

.suggestion {
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
