.league {
  margin: 3rem 0 1rem 0;
}

.teams {
  display: flex;
  justify-content: space-around;
}

.team {
  line-height: 0;
  border-radius: var(--border-radius);
  padding: 1rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  img {
    width: 6rem;
  }
}
